@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <div class="box">
        <div class="outer">
            <div class="inner">
                <button onclick="goToPage()" type="button" id="backgroundcolor1" class="MainButtonMenu">
                    <span class="aboveText" style="font-size: 1.6rem;">Grade 1</span>
                    <br>
                    <span class="text-nowrap" style="font-size: 1rem;">Subejcts: math, Sciense ...</span>
                </button>
            </div>
            <div class="inner">
                <button type="button" id="backgroundcolor2" href="/Subject" class="MainButtonMenu">
                    <span class="aboveText" style="font-size: 1.6rem;">Grade 2</span>
                    <br>
                    <span class="text-nowrap" style="font-size: 1rem;">Subejcts: math, Sciense ...</span>
                </button>
            </div>

            <div class="inner">
                <button type="button" id="backgroundcolor3" href="/Subject" class="MainButtonMenu">
                    <span class="aboveText" style="font-size: 1.6rem;">Grade 3</span>
                    <br>
                    <span class="text-nowrap" style="font-size: 1rem;">Subejcts: math, Sciense ...</span>
                </button>
            </div>
        </div>
    </div>
</div>
