<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Your Application Name</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css">
    <!-- Include jQuery from a CDN -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script defer src="~/js/main.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="#">Your Application</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link1" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="popupAddQuestion">
        <div class="popupAddQuestion-context">
            <label for="fname">Number1:</label>
            <input type="text" id="Number1" name="fname"><br><br>

            <hr />
            <label for="fname">Number2:</label>
            <input type="text" id="Number2" name="fname"><br><br>

            <hr />
            <label for="Operation">Operation:</label>
            <select name="Skills" id="QuestionInterfaceSelctorOperation" class="QuestionInterfaceSelctor">
                <option value="+">Addition</option>
                <option value="-">Subtraction</option>
                <option value="%">Division</option>
                <option value="*">Multiplication</option>
            </select>

            <hr />
            <label for="fname">Time For Question(seconds):</label>
            <input type="text" id="Sct" name="fname"><br><br>
            <hr />
            <button onclick="addNewQuestion()" id="SaveAddingNewQuestion" class="QuestionInteface">Save</button>
            <button class="QuestionInteface" id="cancel">Cancel</button>
        </div>
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>

