@{
    ViewData["Title"] = "Home Page";
}
<div class="container mt-4">
    <div class="box">
        <div class="outer">
            <div class="inner">
                <button type="button" id="backgroundcolor1" class="MainButtonMenu">
                    <span class="aboveText" style="font-size: 1.6rem;">Math</span>
                    <br>
                    <span class="text-nowrap" style="font-size: 1rem;">Questions: 13</span>
                </button>
            </div>
            <div class="inner">
                <button type="button" id="backgroundcolor2" class="MainButtonMenu">
                    <span class="aboveText" style="font-size: 1.6rem;">Science</span>
                    <br>
                    <span class="text-nowrap" style="font-size: 1rem;">Subejcts: math, Sciense ...</span>
                </button>
            </div>

            <div class="inner">
                <button type="button" id="backgroundcolor3" class="MainButtonMenu">
                    <span class="aboveText" style="font-size: 1.6rem;">Geography</span>
                    <br>
                    <span class="text-nowrap" style="font-size: 1rem;">Subejcts: math, Sciense ...</span>
                </button>
            </div>
        </div>
    </div>
</div>
