@{
    ViewData["Title"] = "Home Page";
}
<div>
    <div class="SameRow">
        <h3>WorkSheet</h3>
        <p1>
            <button class="QuestionInteface" id="Save">Save</button>
            <button class="QuestionInteface" id="remove">Remove</button>
        </p1>
    </div>
    <form id="worksheetForm">
        <label for="Title">Title:</label>
        <input type="text" id="Title" name="Title"><br><br>
        <label for="FinalMessage">Final Message:</label>
        <input type="text" id="FinalMessge" name="FinalMessge"><br><br>
    </form>
    <div class="SameRow">
        <p1>
            <select name="Topics" class="QuestionInterfaceSelctor" id="Topic">
                <option value=1>Topics1</option>
                <option value=2>Topics2</option>
                <option value=3>Topics3</option>
            </select>
            <select name="Skills" class="QuestionInterfaceSelctor" id="Skills">
                <option value=1>SKILL1</option>
                <option value=2>SKILL2</option>
                <option value=3>SKILL3</option>
            </select>
        </p1>
        <select name="Type" class="QuestionInterfaceSelctor">
            <option value=1>TYPE</option>
            <option value=2>B</option>
            <option value=3>Other</option>
        </select>
    </div>
    <br />
    <h3>Questions</h3>
    <hr />
    <div id="MainQuestionDivName"></div>
    <button type="button" class="QuestionInteface" id="AddQuestionInterface">Add</button>
</div>
